<h1>Music Events Hub</h1>

<p>Welcome! Here you can navigate through the different music events available at Ticketmaster and, hopefully, find the one for you.</p>
<p>You can:</p>
<ol>
  <li>see how many events there currently are in a specific venue, city, or in US, in general</li>
  <li>see up to 10 events filtered by genre or artist</li>
  <li>see a recommended setlist with up to 10 iTunes song based on the artist of the event you selected</li>
</ol>

<p>Ready? Start you search according to your goal using one of the links below:</p>
<p><a href="{{url_for('filter_by_location')}}">Search for events by location</a></p>
<p><a href="{{url_for('filter_by_genre')}}">Search for events by genre or artist</a></p>
<p><a href="{{url_for('filter_by_artist')}}">Get a recommendation of a setlist</a></p>
