<h1>Music Events Hub</h1>

<p>Welcome! Here you can navigate through the different music events available at Ticketmaster and, hopefully, find the one for you.</p>
<p>You can search events by:</p>
<ol>
  <li>city</li>
  <li>genre</li>
  <li>artist - and when you choose this filter, you can also see a list of 10 recommended songs for the artist! Pretty cool, huh? :)</li>
</ol>

<p>Ready? Start you search according to your goal using one of the links below:</p>
<p><a href="{{url_for('filter_by_location')}}">Search by location</a></p>
<p><a href="{{url_for('filter_by_genre')}}">Search by genre</a></p>
<p><a href="{{url_for('filter_by_artist')}}">Search by artist</a></p>
